el-get
auto-save-list
saved-places
.recentf
*.elc
elpa
*~
/.custom.el*
/.emacs.desktop
/.emacs.desktop.lock
/.ido.last
/projectile-bookmarks.eld
/projectile.cache
/tramp
/url/cookies
/.mc-lists.el
/.org-id-locations
/ac-comphist.dat
/bookmarks
/geben/
