[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/solarized-emacs"]
	path = site-lisp/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
